.divider{
    width: 120%;
    height: 50%;
    background: whitesmoke;
    position: absolute;
    transform: rotate(177deg);
}

.divider2{
    width: 120%;
    height: 50%;
    position: absolute;
    transform: rotate(177deg);
    background: #393f3f;
}

.divider2{
    width: 120%;
    height: 50%;
    position: absolute;
    transform: rotate(177deg);
    background: #393f3f;
}